* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    background: url("people.jpg");
    background-size: cover;
}

.keys {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.key {
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    -moz-transition: all .07s ease;
    -o-transition: all .07s ease;
    width: max(10rem, 9%);
    text-align: center;
    color: white;
    background: rgba(0,0,0,.4);
    text-shadow: 0 0 .5rem #ffc600;
    cursor: pointer;
}

.plaing {
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem  #ffc600;
}

kbd {
    display: block;
    font-size: 4rem;
    text-transform: uppercase;
}

.sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
}