html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

body {
    margin: 0;
}

.panels {
    display: flex;
    min-height: 100vh;
    overflow: hidden;
}

.panel {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: inset 0 0 0 5px rgba(255, 255, 255, .1);
    color: #fff;
    transition: all .7s cubic-bezier(0.61, -0.19, 0.7, -0.11);
    background-size: cover;
    background-position: center;
    flex: 1;
}

.panel.open {
    flex: 5;
}

.panel1 {
    background-image: url("img/view5.jpg");
}

.panel2 {
    background-image: url("img/view2.jpg");
}

.panel3 {
    background-image: url("img/view1.jpg");
}

.panel4 {
    background-image: url("img/view4.jpg");
}

.panel5 {
    background-image: url("img/view7.jpg");
}

.panel p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    font-size: 8rem;
    text-transform: uppercase;
    font-family: 'Amatic SC', cursive;
    text-shadow: 0 0 4px rgba(0, 0, 0, .72), 0 0 14px rgba(0, 0, 0, .45);
    margin: 0;
    transition: all .7s cubic-bezier(0.61, -0.19, 0.7, -0.11);
}

.panel.open p {
    font-size: 20rem;
}

.panel>*:first-child {
    transform: translateY(-100%);
}

.panel>*:last-child {
    transform: translateY(100%);
}

.panel.open>*:first-child,
.panel.open>*:last-child {
    transform: translateY(0);
    font-size: 12rem;
}


