body {
  box-sizing: border-box;
  max-width: 1024px;
  min-width: 420px;
  margin: 0 auto;
  border: 30px solid #ad77a6;
  font-family: Arial, sans-serif;
}

/* start of header */

header {
  display: flex;
}

h1 {
  font-size: 40px;
  margin: 0;
  padding: 5px 0;
}

section.name {
  color: #fff;
  background: #724272;
  padding: 5px 0 5px 20px;
}

section.name p {
  color: #cca973;
  margin: 0;
  padding: 5px 0;
}

section.contact {
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  background: #3b193c;
  padding: 10px 0 10px 20px;
}

section.contact div {
  display: flex;
  align-items: center;
  width: 330px;
  margin: 5px 5px 5px 0;
}

section.contact img {
  max-width: 1.5em;
  margin-right: 10px;
}

section.contact a:link, 
section.contact a:visited {
  color: #fff;
  text-decoration: none;
}

section.contact a:hover {
  color: #cca973;
  text-decoration: underline;
}

div.header-info {
  display: flex;
  flex-direction: column;
}

div.location p {
  margin: 0;
}

div.my-photo {
  background: #3b193c;
}

div.my-photo img {
  max-width: 100%;
  min-width: 110px;
  box-sizing: border-box;
  border: 5px solid #cca973;
}

/* start of main */

h2 {
  color: #cca973;
  border-bottom: 4px solid #cca973;
}

span {
  background: #fde6c3;
}

main {
  text-align: justify;
}

main section {
  font-size: 20px;
  line-height: 1.5em;
  margin: 0 20px;
}

main p {
  text-indent: 40px;
}

div.columns {
  display: flex;
}

div.left-column, 
div.right-column {
  width: 50%;
}

main a:link, 
main a:visited {
  color: #772eee;
}

ul.marker li::marker {
  color: #cca973;
}

/* media query */

@media screen and (max-width: 760px) {
  header {
    flex-direction: column;
    background: #3b193c;
  }

  div.my-photo {
    order: -1;
    margin-left: 20px;
  }

  div.my-photo img {
    max-width: 30%;
  }

  div.columns {
    display: flex;
    flex-direction: column;
  }
  
  div.left-column, 
  div.right-column {
    width: 100%;
  }
}